language: python
python:
  - '2.7'
  - '3.5'
  - '3.6'
env:
  - DJANGO=1.10
  - DJANGO=1.11
  - DJANGO=2.0
global:
  - DB=postgres
matrix:
  exclude:
    - python: 3.5
      env: DJANGO=1.10
    - python: 3.5
      env: DJANGO=1.11
    - python: 3.6
      env: DJANGO=1.10
    - python: 3.6
      env: DJANGO=1.11
install:
  - pip install -q Django==$DJANGO
  - pip install -r requirements/tests.txt
  - pip install -r requirements/docs.txt
before_script:
  - psql -c 'CREATE DATABASE entity_event;' -U postgres
script:
  - flake8 .
  - coverage run setup.py test
  - coverage report --fail-under=100
notifications:
    email: false
